.container {
    height: 510px;
}

/* CHANNELS */

#channels-container {
    width: 30%;
    text-align: left;
}

.channels {
    border: #2e303a solid 5px;
    padding: 15px;
}

/* CHATS */

#chats-container {
    width: 80%;
    height: 510px;
    background-color: #2e303a;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 9px;
    overflow-y: auto;

    justify-content: flex-end;
}

#chatbox {
    width: 95%;
}

/* USERS */

#users-container {
    width: 30%;
    text-align: right;
}

.users {
    border: #2e303a solid 5px;
    padding: 15px;
}