.container {
    height: 510px;
}

/* CHANNELS */

#channels-container {
    width: 30%;
    height: 510px;
    text-align: left;
    overflow-y: auto;
}

.channels {
    border: #F757FF solid 1px;
    padding: 15px;
}

/* CHATS */

#chats-container {
    width: 80%;
    height: 510px;
    border: #8957FF solid 1px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 9px;
    overflow-y: auto;
}

#chatbox {
    width: 95%;
}

/* USERS */

#users-container {
    width: 30%;
    text-align: right;
    height: 510px;
    overflow-y: auto;
    background: black;
}

.users {
    border: #F757FF solid 1px;
    padding: 15px;
}