/* Color Palette:
#D4C2FE -> very light purple
#575BFF -> strong blue
#C057FF -> pinkish purple
#8957FF -> very purple
#5790FF -> lighter blue
#F757FF -> strong pink
black & white */

.the-title {
    color: #F757FF;
    text-align: center;
}

.content-container {
    background: black;
    color: white;
}

.title-container {
    margin: 15px;
    text-align: center;
}

.content-container {
    margin: 0px 15px 15px 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}